<div class="bid-summary col">
  <div class="row justify-content-start">
    {{!-- <div class="col-lg-1"></div> --}}
    <div class="col-lg-4 truncate">{{bid.job}}</div>
    <div class="col-lg-4 truncate">{{bid.location}}</div>
    <div class="col-lg-4">
      <button type="button" class="btn btn-primary pull-right">
        <i class="material-icons">create</i>
        Edit
      </button>
    </div>
  </div>
</div>