<div class="bid-summary col">
  <div class="row justify-content-start">
    <div class="col-lg-1"></div>
    <div class="col-lg-2">Job</div>
    <div class="col-lg-2">Location</div>
    <div class="col-lg-2">Estimator</div>
    <div class="col-lg-2 ml-auto">
      <button type="button" class="btn btn-primary">
        <i class="material-icons">create</i>
        Edit
      </button>
    </div>
  </div>
</div>