<nav class="navbar navbar-expand-lg navbar-dark navbar-grey">
  <a class="navbar-brand" href="#">
    <img src="assets/bidtracker.png" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-grey" aria-controls="navbar-grey" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar-grey">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Bids</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Alerts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Metrics</a>
      </li>
    </ul>
<!--       <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>

<div class="container-fluid">
  <div class="row header-panel">
    <div class="col">
      <div class="row">
        <div class="col-lg-6">
          <h3>Requested Bids</h3>
        </div>
        <div class="col-lg-6">
          <h3>Personal Performance</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col panel primary-panel">
      <div class="bid-summary col">
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-2">Job</div>
          <div class="col-lg-2">Location</div>
          <div class="col-lg-2">Estimator</div>
          <div class="w-100"></div>
          <div class="col-lg-1"></div>
          <div class="col-lg-2">Contractor</div>
          <div class="col-lg-2">Architect</div>
          <div class="col-lg-2">Plan Date</div>
          <div class="col-lg-2">Delta #</div>
        </div>
      </div>
      <div class="bid-summary col">
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-2">Job</div>
          <div class="col-lg-2">Location</div>
          <div class="col-lg-2">Estimator</div>
          <div class="w-100"></div>
          <div class="col-lg-1"></div>
          <div class="col-lg-2">Contractor</div>
          <div class="col-lg-2">Architect</div>
          <div class="col-lg-2">Plan Date</div>
          <div class="col-lg-2">Delta #</div>
        </div>
      </div>
      <div class="bid-summary col">
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-2">Job</div>
          <div class="col-lg-2">Location</div>
          <div class="col-lg-2">Estimator</div>
          <div class="w-100"></div>
          <div class="col-lg-1"></div>
          <div class="col-lg-2">Contractor</div>
          <div class="col-lg-2">Architect</div>
          <div class="col-lg-2">Plan Date</div>
          <div class="col-lg-2">Delta #</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col panel kpi-panel">
          <h2>6</h2>
          <label>Number of Bids</label>
        </div>
        <div class="col panel kpi-panel">
          <h2>44%</h2>
          <label>Direct Margin</label>
        </div>
        <div class="w-100"></div>
        <div class="col panel kpi-panel">
          <h2>32%</h2>
          <label>Bids Won</label>
        </div>
        <div class="col panel kpi-panel">
          <h2>$52,800</h2>
          <label>Avg Gross Profit</label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col panel primary-panel">
      <canvas id="myChart"></canvas>
    </div>
  </div>
</div>

{{outlet}}