<div class="row header-panel">
  <div class="col">
    <div class="row">
      <div class="col-lg-6">
        <h3>Requested Bids</h3>
      </div>
      <div class="col-lg-6">
        <h3>Personal Performance</h3>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col panel primary-panel">
    <div class="bid-summary col">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-2">Job</div>
        <div class="col-lg-2">Location</div>
        <div class="col-lg-2">Estimator</div>
        <div class="w-100"></div>
        <div class="col-lg-1"></div>
        <div class="col-lg-2">Contractor</div>
        <div class="col-lg-2">Architect</div>
        <div class="col-lg-2">Plan Date</div>
        <div class="col-lg-2">Delta #</div>
      </div>
    </div>
    <div class="bid-summary col">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-2">Job</div>
        <div class="col-lg-2">Location</div>
        <div class="col-lg-2">Estimator</div>
        <div class="w-100"></div>
        <div class="col-lg-1"></div>
        <div class="col-lg-2">Contractor</div>
        <div class="col-lg-2">Architect</div>
        <div class="col-lg-2">Plan Date</div>
        <div class="col-lg-2">Delta #</div>
      </div>
    </div>
    <div class="bid-summary col">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-2">Job</div>
        <div class="col-lg-2">Location</div>
        <div class="col-lg-2">Estimator</div>
        <div class="w-100"></div>
        <div class="col-lg-1"></div>
        <div class="col-lg-2">Contractor</div>
        <div class="col-lg-2">Architect</div>
        <div class="col-lg-2">Plan Date</div>
        <div class="col-lg-2">Delta #</div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="row">
      <div class="col panel kpi-panel">
        <h2>6</h2>
        <label>Number of Bids</label>
      </div>
      <div class="col panel kpi-panel">
        <h2>44%</h2>
        <label>Direct Margin</label>
      </div>
      <div class="w-100"></div>
      <div class="col panel kpi-panel">
        <h2>32%</h2>
        <label>Bids Won</label>
      </div>
      <div class="col panel kpi-panel">
        <h2>$52,800</h2>
        <label>Avg Gross Profit</label>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col panel primary-panel">
    <div class="wrapper">
    {{ember-chart type='line' data=model.data options=model.options}}
    </div>
  </div>
</div>