<div class="login-page">
<div class="row justify-content-center">
  <div class="col-lg-8">
    <img class="login-logo" src="assets/bidtracker.png" alt="">
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-lg-2">
    <a class="btn btn-google" {{action 'authenticateSession'}}>
      {{fa-icon "google"}} <span class="btn-text">Sign in with Google</span>
    </a>
  </div>
</div>
</div>